body {
    margin: 0;
    overflow: hidden;
}

/* ---------------- Intro ---------------- */
.intro {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 100;
    transition: opacity 1s ease;
}

.intro-img {
    width: 80%; 
    margin-top: 100px;
    margin-left: 350px;       /* large at start */
    transition: all 2s ease;
}

/* hide intro when game starts */
.intro.hide {
    opacity: 0;
    pointer-events: none;
}

/* ---------------- Background ---------------- */
.background {
    width: 100%;
    height: 100vh;
    background-image: url("resources/b1.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    transform: scale(1.5);     /* start zoomed in */
    transform-origin: left bottom; /* zoom from near boy */
    transition: transform 2s ease;
    overflow-x: hidden;
    position: absolute;
}

/* ---------------- Boy ---------------- */
.boy {
    height: 300px;
    margin-top: 400px;
    margin-bottom: 30px;
    margin-left: 40px;
    position: absolute;
    transform: scale(1.5);       /* start large */
    transform-origin: left bottom;
    transition: transform 2s ease;
}

/* ---------------- Zoom out to normal ---------------- */
.zoom-out {
    transform: scale(1);
}
.box{

    width: 140px;
    height: 140px;
    /*background-color: transparent;*/
    position: absolute; 
    margin-top: 550px; 
    margin-bottom: 30px; 
    background-image: url(resources/crab.gif);   
    background-size: contain;
    background-repeat: no-repeat;

}

.score {
    position: fixed;
    top: 10px;         /* change if you want different corner */
    right: 10px;        /* top-left corner */
    background: rgba(0,0,0,0.6); /* semi-transparent black */
    color: #fff;
    padding: 12px 16px;      
    border-radius: 12px;      
    font-family: 'Comic Sans MS', cursive; 
    font-size: 50px;     /* big text */
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    min-width: 270px; 
    height: 60px;        
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* optional shadow */
}



.end{
    width: 1000px;      
    height: 700px;     
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-image: url(resources/over.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
    visibility: hidden;
 
}
.yourScore{
    
    position: fixed;
    bottom: 320px;
    left: 40.5%;
    
    background:  rgba(0,0,0,0.4);
    color: #ffffff;             
    
    font-family: 'Comic Sans MS', cursive;
    font-size: 24px;
    font-weight: bold;
    
    padding: 8px 16px;
    border-radius: 8px;
    z-index: 100000;
}
.endScore{
    
    position: fixed;
    bottom: 264px;
    left: 45.9%;
    
    background:  rgba(0,0,0,0.4);
    color: #ffffff;             
    
    font-family: 'Comic Sans MS', cursive;
    font-size: 24px;
    font-weight: bold;
    
    padding: 8px 16px;
    border-radius: 8px;
    z-index: 100001
}
.btn{
    position: absolute;
    bottom: 190px;
    left:37%;
    background: #28a7b3;
    border: none;
    color: #fff;
    font-family: 'Comic Sans MS', cursive;
    padding: 10px 25px;        /* bigger button */
    border-radius: 10px;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: bold;
    font-size: 30px;  
     z-index: 100002;
     box-shadow: 0 4px 8px rgba(48, 48, 48, 0.3); 
}
.btn:hover {    
    padding: 15px 30px;                      
    font-size: 30px;
     background: #4aa6af;
    transform: scale(1.11);
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.3); 
       
    
}
